 body {
        font-family : Arial;
        background-image: linear-gradient(#ffeded,#f0dfdf,#e0e0e0);
            }
    td {
        padding : 0.3em;
        text-align : center;
    }
    thead {
        font-weight : bold;
    }
    .gantt_block {
        text-align: center;
        padding: 0.4em;
        height: 5em;
        float: left;
        display: block;
        color: whitesmoke;
        font-weight: bold;
    }
    table {
        border-collapse : collapse;
    }

    h1 {
  	    color: red;
 	    text-align: center;
  	    font-family: Verdana;
        font-weight: bold;
        padding: 32px;
  	   
        margin: 30px ;
         
          

}
    .bubble {
        -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.84);
        -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.84);
        box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.84);
        text-align: center;
        padding: 0.4em;
        height: 5em;
        float: left;
        display: block;
        color: whitesmoke;
        font-weight: bold;
    }




#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 99;

}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(https://i.pinimg.com/originals/f9/0f/76/f90f7689233948005f465d98ead56d44.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}


.th {
  position: absolute;
transition: transform .2s; 
  bottom: 10px;
font-family:Segoe Print;
  left: 50px;

 color:yellow;
 -ms-transform: rotate(360deg); /* IE 9 */
  transform: rotate(360deg);
  text-shadow: 1px 3px #8CF7F2;
  font-size: 25px;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

}
.th:hover{

transform: scale(1.1);
 -ms-transform: rotate(360deg); /* IE 9 */
  transform: rotate(360deg);
font-size: 40px
}

.blink {
      animation: blinker 1.6s linear infinite;
      color: black;
      font-size: 26px;
      font-weight: bold;
      font-family:cursive;
      }
      @keyframes blinker {  
      50% { opacity: 0; }
      }
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #F4F967, 0 0 20px #F4F967 , 0 0 30px #F4F967, 0 0 40px #F4F967, 0 0 50px red, 0 0 60px white, 0 0 70px 0C0A0A;
  }
  
  to {
    text-shadow: 0 0 20px red, 0 0 30px #ff4da6, 0 0 40px #EEE972, 0 0 50px red, 0 0 60px #EEE972, 0 0 70px red, 0 0 80px #F4F967;
  }}


